<form action="/sendReview" method="POST">
    <input type="hidden" name="token" value="{{token}}">

    <h1 id="title">Daily Review</h1>
    <br>

    <!-- Reparto -->
    <div id="departmentLabel">
        <h3>{{department}}</h3>
    </div>

    <br> <br>

    <div id="dataLabel">
        <!-- Selezione della data -->
        <label for="dateInput">Data</label>
        <input name="reviewDate" type="date" id="dateInput" required>
    </div>

    <br><br>

    <!-- Effettive Daily Review di tutti i membri del reparto -->
    <div class="grid-container">
        {{#each members as |member|}}
        <div class="grid-item">
            <h3 id="memberH{{@index}}">{{member}}</h3>
            <div id="memberQ{{@index}}">
                <h5>Cosa hai fatto nelle ultime 24 ore?</h5>
                <textarea name="last24Area{{@index}}" class="areastyle" placeholder="Scrivi qui" maxlength="350"
                    required></textarea>
                <h5>Cosa farai nelle prossime 24 ore?</h5>
                <textarea name="next24Area{{@index}}" class="areastyle" placeholder="Scrivi qui" maxlength="350"
                    required></textarea>
                <h5>Che problematiche stai affrontando?</h5>
                <textarea name="issueArea{{@index}}" class="areastyle" placeholder="Scrivi qui" maxlength="350"
                    required></textarea>
            </div>
        </div>
        {{/each}}
    </div>


    <br>

    <div>
        <input class="submitButton" type="submit" value="Completa Daily Review">
    </div>

</form>