<iframe style="display: none;" name="dummyframe" id="dummyframe"></iframe>
<form action="/sendMessage" method="POST" target="dummyframe">
    <input type="hidden" name="token" value="{{token}}">

    <h1 id="title">Titolo</h1>
    <br>

    <!-- Selezione del reparto -->
    <div id="departmentLabel">
        <h2>Reparto</h2>
        <select name="department" id="reparto">
            {{#each departments}}
            <option>{{this}}</option>
            {{/each}}
        </select>
    </div>

    <br> <br>

    <div id="dataLabel">
        <!-- Selezione della data -->
        <label for="data">Data</label>
        <input type="date" id="data">
    </div>

    <br><br>

    <!-- Effettive Daily Review di tutti i membri di quel reparto -->

    <!-- NOT WORKING, FIGURE OUT A WAY TO DO IT RIGHT -->
    {{#each dep}}
    {{#each member}}
    {{#ifEquals "ciao" "ciao" }}
    <h1>{{this}}</h1>
    {{/ifEquals}}
    {{/each}}
    {{/each}}






    <!--
    <div id="memberPanel">
        {{#each dep}}
        {{#each this as | member |}}
        <h3 id="member">{{member}}</h3>
        <div id="memberDiv">
            <h5>Cosa hai fatto nelle ultime 24 ore?</h5>
            <textarea></textarea>
            <h5>Cosa farai nelle prossime 24 ore?</h5>
            <textarea></textarea>
            <h5>Che problematiche stai affrontando?</h5>
            <textarea></textarea>
        </div>
        {{/each}}
        {{/each}}
    </div>
        <h3 id="member1">Nome Membro 1</h3>
        <div id="member1Div">
            <h5>Cosa hai fatto nelle ultime 24 ore?</h5>
            <textarea></textarea>
            <h5>Cosa farai nelle prossime 24 ore?</h5>
            <textarea></textarea>
            <h5>Che problematiche stai affrontando?</h5>
            <textarea></textarea>
        </div>

        <h3 id="member2">Nome Membro 2</h3>
        <div id="member2Div">
            <h5>Cosa hai fatto nelle ultime 24 ore?</h5>
            <textarea></textarea>
            <h5>Cosa farai nelle prossime 24 ore?</h5>
            <textarea></textarea>
            <h5>Che problematiche stai affrontando?</h5>
            <textarea></textarea>
        </div>

        <h3 id="member3">Nome Membro 3</h3>
        <div id="member3Div">
            <h5>Cosa hai fatto nelle ultime 24 ore?</h5>
            <textarea></textarea>
            <h5>Cosa farai nelle prossime 24 ore?</h5>
            <textarea></textarea>
            <h5>Che problematiche stai affrontando?</h5>
            <textarea></textarea>
        </div>

        <h3 id="member4">Nome Membro 4</h3>
        <div id="member4Div">
            <h5>Cosa hai fatto nelle ultime 24 ore?</h5>
            <textarea></textarea>
            <h5>Cosa farai nelle prossime 24 ore?</h5>
            <textarea></textarea>
            <h5>Che problematiche stai affrontando?</h5>
            <textarea></textarea>
        </div>
    </div>
-->

    <br>
    <div id="submitButton">
        <input type="submit" value="Completa Daily Review">
    </div>













    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <select name="channelid">
        {{#each chans}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="text" name="text" placeholder="MESSAGE TEXT">
    <input type="submit" value="SEND">
</form>